version: "3.9"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: studentdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_NAME: studentdb
      DB_USER: admin
      DB_PASSWORD: admin123

volumes:
  postgres_data:

