name: Docker Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ "develop" ]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build app image
        run: docker build -t sis-app:ci .
